<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eduapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".Activity.UpdateStaffActivity"></activity>
        <activity android:name=".Activity.AddStaffActivity" />
        <activity android:name=".Activity.StaffInformation2Activity" />
        <activity android:name=".Activity.StaffInformationActivity" />
        <activity android:name=".Activity.StaffActivity" />
        <activity android:name=".Activity.UpdateChildrenActivity" />
        <activity android:name=".Activity.ChildrenProFilesActivity" />
        <activity android:name=".Activity.AddChildenActivity" />
        <activity android:name=".Activity.ChildrenActivity" />
        <activity android:name=".Activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.ChangPasswordActivity" />
        <activity android:name=".Activity.ForgotPasswordActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.AttendanceActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>